@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

.app-container {
	background-color: #FFFFFF;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	position: relative;
	display: flex;
	z-index: 0;
	align-items: center;
}

.left-sec {
	width: 50%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-sec img {
	scale: 1.1;
}

.right-abs-back {
	background-color: rgb(34, 58, 122);
	width: 40%;
	height: 100vh;
	position: absolute;
	right: 0;
	border-radius: 25px 0 0 25px;
	z-index: 4;
}

.right-sec {
	height: 85vh;
	width: 40%;
	z-index: 10;
	
}